---
import { Icon } from 'astro-icon';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon name="ph:hand-waving" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Friendly</h2>
		<p>I'm always happy to help or give advice.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon name="mdi:minecraft" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Minecrafter</h2>
		<p>Minecraft is my life! Love play in Minecraft with friends.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon name="ph:currency-eth" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Crypto Lover</h2>
		<p>Blockchain and cryptocurrencies are our future!</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
